{% extends "application.html" %}

{% block content %}
<div class="row">
  <div class="span12">
    <div class="page-header">
      <a href="{{ url_for("planner_page", cluster=cluster, environment=environ, topology=topology) }}">
        <button type="button" class="btn btn-primary pull-right">Back to Topology</button>
      </a>
      <h2>{{cluster}} / {{environ}} / {{topology}}</h2>
    </div>
  </div>

  <div class="span12">
    <div class="navbar container-navbar">
      <div class="navbar-inner">
        <ul class="nav">
          <li class="active"><a href="#">Files</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="span12">
    <div class="input-prepend input-append">
      <form action="{{ url_for("file_stats_page", cluster=cluster, environment=environ, topology=topology, container=container) }}" method="get">
        <span class="add-on">Path</span>
        <input class="span8" name="path" type="text" value="{{path}}">
        <button class="btn" type="submit">Go!</button>
      </form>
    </div>
  </div>

  <div class="span12 tight">

    <ul class="files">
      {%- for fpath, finfo in filestats | dictsort -%}
        <li {%- if finfo.is_dir%} class="directory" {%- endif %}>
          {#- All rows have the preformtted filestats -#}
          <span class="file-stat">{{- finfo.formatted_stat -}}</span>
          {%- if fpath == ".." -%}
            <a href="{{ url_for("file_stats_page", cluster=cluster, environment=environ, topology=topology, container=container) }}?path={{ path.rpartition("/")[0] | urlencode }}" title="explore"> ../</a>
          {%- elif finfo.is_dir -%}
            <a href="{{ url_for("file_stats_page", cluster=cluster, environment=environ, topology=topology, container=container) }}?path={{ (path + "/" + fpath) | urlencode }}" title="explore"> {{fpath}}/</a>
          {%- else -%}
            <a href="{{ url_for("file_page", cluster=cluster, environment=environ, topology=topology, container=container) }}?path={{ (path + "/" + fpath) | urlencode }}" title="view"> {{fpath}}</a>
          {%- endif -%}
        </li>
      {%- endfor -%}
    </ul>

  </div>
</div>
{% endblock %}
